openapi: 3.2.0
info:
  title: Integration Rate API
  description: '### Authentication Headers Required / Требуемые заголовки аутентификации


    - `API-Key`:your api key / ваш ключ API

    - `X-Request-Timestamp`: epoch millis / метка времени в миллисекундах

    - `Signature` = sha256_hex(`X-Request-Timestamp` + request body + API secret)


    Signature Calculation Example / Пример вычисления подписи


    #### Input Data / Входные данные

    - **Request timestamp**: `1678901234567`

    - **Request body**…'
  version: '1.0'
servers:
- url: https://api2.capitalist.net
tags:
- name: Rate
paths:
  /v1/rate:
    description: '- rate

      '
    get:
      tags:
      - Rate
      description: '- rate'
      parameters:
      - name: from
        in: query
        required: true
        schema:
          type: string
        allowReserved: false
        style: form
      - name: to
        in: query
        required: true
        schema:
          type: string
        allowReserved: false
        style: form
      responses:
        '200':
          content:
            application/json:
              schema:
                type: number
                format: double
        '400':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimpleError'
      summary: Get rate
      x-summary-source: derived
      operationId: getV1Rate
      x-operation-id-source: derived
components:
  schemas:
    SimpleError:
      type: object
      properties:
        error:
          type: string
      required:
      - error
